@media (max-width: 1600px) {
    .container2 {
        padding-top: 30px;
        max-width: 1300px;
        width: 80%;
        margin: 0 auto;
    }
    .block {
        max-width: 700px;
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .container2 {
        padding-top: 30px;
        max-width: 1000px;
        width: 80%;
        margin: 0 auto;
    }
    .card:not(:last-child) {
        margin-right: unset;
    }
    .card:not(:nth-last-child(-n + 2)) {
        margin-bottom: 20px;
    }
    .card {
        width: 48%;
    }
    .cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .buttons__item {
        font-size: 18px;
        padding: 20px 15px;
    }
    .block {
        max-width: 700px;
        width: 90%;
    }
    .black-back-active .danger-modal {
        font-size: 32px;
    }
    .settings__name {
        font-size: 25px;
    }
    .setting__check-name {
        font-size: 25px;
        max-width: 80%;
    }
    .settings__label:not(:last-child) {
        margin-bottom: 30px;
    }
    .settings__input {
        font-size: 25px;
    }
    .settings__button {
        font-size: 35px;
    }
}

@media (max-width: 760px) {
    .cross {
        font-size: 50px;
        right: 15px;
        top: 15px;
    }
    .container2 {
        padding-top: 30px;
        max-width: 1000px;
        width: 80%;
        margin: 0 auto;
    }
    .card:not(:last-child) {
        margin-right: unset;
    }
    .card:not(:last-child) {
        margin-bottom: 20px;
    }
    .card {
        width: 100%;
    }
    .cards {
        flex-wrap: nowrap;
        justify-content: unset;
        flex-direction: column;
    }
    .buttons__item {
        font-size: 18px;
        padding: 20px 15px;
    }
    .users__item {
        font-size: 20px;
        padding: 15px 5px;
    }
    .block {
        max-width: 600px;
        width: 95%;
        padding: 20px 5px;
    }
    .all-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .all-items__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .cards {
        margin-top: 10px;
    }
    .main-buttons__item {
        padding: 10px 50px;
        font-size: 32px;
    }
    .black-back-active .danger-modal {
        font-size: 20px;
    }
    .name-user {
        font-size: 16px;
    }
    .setting__check-name {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .cross {
        font-size: 40px;
        right: 10px;
        top: 10px;
    }
    .container2 {
        padding-top: 15px;
        max-width: 360px;
        width: 95%;
        margin: 0 auto;
    }
    .buttons__item {
        font-size: 14px;
    }
    .card__heading {
        font-size: 20px;
    }
    .btns-changes__item {
        font-size: 20px;
    }
    .all-items__item {
        font-size: 25px;
    }
}

.block-loading {
    width: 160px;
    height: 160px;
    position: relative;
}

.loader-get {
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 50%;
}

.users-disable {
    display: none;
}

.setting__check-name {
    max-width: 60%;
}
