h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
}

.container2 {
    padding-top: 50px;
    max-width: 1500px;
    width: 78%;
    margin: 0 auto;
}

body {
    overflow: hidden;
    background-color: cornflowerblue;
}

.cards {
    margin-top: 50px;
    display: flex;
}

.card {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 30px;
    padding: 10px 20px 20px 20px;
    transition: opacity 0.2s ease-in-out;
    animation: opac 0.2s ease-in-out 1;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card:not(:last-child) {
    height: max-content;
    margin-right: 20px;
}

.card__heading {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons__item {
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
}

.buttons__item,
.card__add,
.btns-changes__item,
.main-buttons__item,
.settings__button,
.broadcast,
.map-list {
    transition: transform 0.1s ease-in-out;
}

.users__item:not(:last-child) {
    margin-bottom: 10px;
}

.card__add {
    display: none;
    position: relative;
    filter: grayscale(0.5);
    min-height: 150px;
}

.card__add::after {
    content: "+";
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkgrey;
}

.buttons__item:hover,
.card__add:hover,
.btns-changes__item:hover,
.main-buttons__item:hover,
.settings__button:hover,
.broadcast:hover,
.map-list:hover {
    transform: scale(0.97);
}

.buttons__item:active,
.card__add:active,
.btns-changes__item:active,
.main-buttons__item:active,
.settings__button:active,
.broadcast:active,
.map-list:active {
    transform: scale(1.03);
}

.buttons__item:not(:last-child) {
    width: 48%;
    margin-bottom: 10px;
}

.buttons__item:last-child {
    width: 100%;
}

.btns-changes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btns-changes__item {
    font-weight: 600;
    font-size: 30px;
    width: 300px;
    padding: 5px 10px;
    border-radius: 40px;
    border: none;
    color: white;
    font-weight: 900;
}

.main-buttons__item {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    color: white;
    cursor: pointer;
}

.btns-changes__item:first-child {
    margin-right: 20px;
}

.add {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.add-active {
    background-color: darkseagreen;
}

.delete {
    background-color: #f5f5f1;
    background-image: linear-gradient(315deg, #f5f5f1 0%, #e50914 74%);
}

.card__add-active {
    display: flex;
}

.black-back {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    min-height: 100%;
    height: initial;
    width: 100%;
}

.block {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: 80px 0 30px 0;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: inherit;
}

.users {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.users__item {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: gray;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.users__item-active {
    background-color: cadetblue;
    color: white;
}

.all-items {
    display: flex;
    justify-content: center;
}

.all-items__item {
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
    color: #f6d327;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-items__item:not(:last-child) {
    margin-right: 20px;
}

.buttons__item-disable {
    pointer-events: none;
    filter: grayscale(0.5);
}

.loader {
    display: inline-block;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.happyOne {
    color: white;
    background-color: #663dff;
    background-image: linear-gradient( 319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}

.colors {
    color: white;
    background: linear-gradient( 90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
}

.magicLeafs {
    color: black;
    background: linear-gradient( 90deg, rgba(249, 246, 145, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(163, 235, 228, 1) 100%);
}

.macCards {
    box-sizing: border-box;
    border: 4px solid black;
    color: white;
    background-color: #ff7d59;
    background-image: linear-gradient( 319deg, #ff7d59 0%, #ff583a 37%, #f4a698 100%);
}

.emotions {
    background-color: #fce055;
    background-image: linear-gradient( 319deg, #fce055 0%, #256eff 37%, #46237a 100%);
    color: white;
}

.cross {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 10px;
    right: 30px;
    line-height: 1em;
    cursor: pointer;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    margin-top: 30px;
}

.main-buttons__item {
    font-size: 35px;
    padding: 10px 100px;
    border-radius: 20px;
    border: none;
}

.main-buttons__item:not(:last-child) {
    margin-bottom: 20px;
}

.continue-button-disable {
    pointer-events: none;
    opacity: 0.5;
}

.settings__label {
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.settings__button {
    font-size: 32px;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    width: max-content;
    margin: 0 auto;
    border: none;
}

.settings__input-danger {
    border: 2px solid red;
}

.settings__input {
    flex: 1;
}

.black-back-active .danger-modal {
    display: inline-block;
    position: absolute;
    z-index: 100;
    background-color: red;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    font-size: 40px;
    top: 40px;
    padding: 10px;
}

.settings__name {
    margin-right: 10px;
}

.ul-no-elements {
    color: white;
    font-size: 32px;
    text-align: center;
}

.threads {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.thread {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.thread:not(:last-child) {
    margin-bottom: 10px;
}

.buttons__item-danger {
    box-sizing: border-box;
    border: 2px solid red;
}

.broadcast,
.map-list {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.map-list-image,
.broadcast-image {
    width: 100%;
    height: 100%;
}

.users__item {
    display: flex;
    align-items: center;
}

.broadcast {
    margin-left: auto;
}

.map-list {
    margin-left: 20px;
}

.name-user {
    position: relative;
    margin-left: 10px;
}

.add-user {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 0;
    font-size: 0;
}

.add-user::after {
    display: inline-block;
    line-height: 1em;
    font-size: 35px;
    content: attr(data-name);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    transform: translate(-50%, -50%);
}

.users__item .add-user {
    background: linear-gradient(to bottom, #669900 0%, #66ff99 100%);
    color: white;
    cursor: pointer;
}

.users__item .broadcast,
.users__item .map-list,
.broadcast-gray {
    filter: grayscale(0.9);
    pointer-events: none;
}

.users__item-active .add-user {
    background: linear-gradient(to bottom, #660033 0%, #ff5050 100%);
    color: white;
}

.users__item-active .broadcast,
.users__item-active .map-list {
    cursor: pointer;
    filter: grayscale(0);
    pointer-events: fill;
}

.broadcast-gray {
    filter: grayscale(0.9) !important;
    pointer-events: none !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.link-anim {
    animation: rotate 0.8s ease infinite;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #80ff72;
}

input:focus+.slider {
    box-shadow: 0 0 1px #80ff72;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.settings__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.settings__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.settings__slider {
    background-color: #80ff72;
}

input:focus+.settings__slider {
    box-shadow: 0 0 1px #80ff72;
}

input:checked+.settings__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.settings__slider.round {
    border-radius: 34px;
}

.settings__slider.round:before {
    border-radius: 50%;
}

.setting__check-name,
.settings__label {
    font-size: 20px;
}

.settings__label:nth-last-child(2) {
    font-size: 20px;
}

.settings__slider {
    width: 60px;
}

.second-one {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
}

.line {
    z-index: 3;
    width: 60px;
    height: 30px;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.all-items__name {
    font-size: inherit;
}

.settings {
    padding: 30px;
}

.settings__name {
    font-size: 30px;
}

.block {
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s, transform 0.4s ease 0s;
}

.black-back-active .block {
    opacity: 1;
    transform: translate(-50%, 0px);
}

.black-back {
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s, transform 0.4s ease 0s;
}

.black-back.black-back-active {
    opacity: 1;
    visibility: visible;
}

.setting__check-name {
    font-size: 25px;
    max-width: 80%;
}

.settings__label:not(:last-child) {
    margin-bottom: 30px;
}

.settings__input {
    font-size: 30px;
}

.settings__button {
    font-size: 35px;
}
